.nav-distance {
    width: 0;
    height: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-nav-border;
}

.nav--scrolled {
    box-shadow: $color-nav-shadow 0px 0px 21px 0px;
    border-bottom: 1px solid $color-transparent;
    background-color: $color-nav-background;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 6px 10px;

    @media only screen and (max-width: 990px) {
        padding: 6px 15px;
    }

    &__logo {
        width: 77px;
        height: 69px;
        transition: all .25s;

        @media only screen and (min-width: 480px) {
            width: 86px;
            height: 78px;
        }

            img {
            width: 100%;
            height: 100%;
            }
    }

    &__logo--scrolled {
        width: 72px;
        height: 64px;

        @media only screen and (min-width: 480px) {
            width: 75px;
            height: 67px;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 990px) {
            display: none;
        }
    }

    &__item a {
        position: relative;
        font-family: $font-poppins;
        font-size: 12px;
        color: $color-nav-link;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        transition: .25s;
        padding-bottom: 10px;
    }

    &__item a:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $color-nav-link-sub;
        transition: .25s;
    }

    &__item a:hover:before {
        width: 98%;
    }

    &__item:not(:last-child) {
        padding-right: 38px;
    }

    &__item a:hover {
        opacity: 1;
    }

    &__hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        @media only screen and (min-width: 990px) {
            display: none;
        }

        &__icon {
            width: 22px;
            height: 3px;
            background-color: $color-nav-hamburger;
        }

        &__icon:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__mobile__darken {
        height: 100vh;
        width: 100vw;
        background-color: $color-darken-background;
        z-index: 998;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
    }

    &__mobile {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        width: 290px;
        background-color: $color-mobileNav-background;
        height: 100vh;
        transition: all .5s;
        z-index: 999;

        @media only screen and (min-width: 300px) {
            width: 300px;
        }

        &__button {
            position: absolute;
            top: 15px;
            right: 14px;
            background-color: $color-mobileNav-button;
            height: 29px;
            width: 29px;
            cursor: pointer;
        }

        &__button--1 {
            display: inline-block;
            width: 19px;
            height: 3px;
            position: absolute;
            top: 13px;
            right: 5px;
            background-color: $color-mobileNav-button--1;
            transform: rotate(-45deg);
        }

        &__button--2 {
            display: inline-block;
            width: 19px;
            height: 3px;
            position: absolute;
            top: 13px;
            right: 5px;
            background-color: $color-mobileNav-button--2;
            transform: rotate(45deg);
        }

        &__menu {
            width: 100%;
            padding: 45px 30px;
        }

        &__menu__links > li {
            padding: 15px 0;
        }

        &__menu__links > li a {
            font-family: $font-poppins;
            font-size: 16px;
            color: $color-mobileNav-links;
            text-transform: uppercase;
        }

        &__menu__links > li:not(:last-child) {
            border-bottom: 1px solid $color-mobileNav-links-borderBottom;
        }

        &__info {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 30px;
        }

        .mobile-phone {
            transform: rotate(110deg);
            color: $color-mobileNav-icons;
        }

        &__phone__text {
            font-family: $font-poppins;
            font-size: 14px;
            color: $color-mobileNav-iconsText;
        }

        &__location {
            flex-basis: 100%;
            padding-top: 12px;
            padding-left: 3px;
        }

        &__location__text {
            font-family: $font-poppins;
            font-size: 14px;
            color: $color-mobileNav-icons;
        }

        &__social {
            flex-basis: 100%;
            padding-top: 12px;
        }

        &__social__instagram {
            padding-right: 5px;
        }

        &__social > a > i {
            font-size: 20px;
            color: $color-mobileNav-icons;
        }

    }
}