//All Events Section Start//
.all-events__section {
    background-color: $color-section-white;
}

.all-events__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;
    overflow: hidden;

    @media only screen and (min-width: 770px) {
        padding: 80px 15px;
    }
}

.all-events__title {
    color: $color-secondary;
    font-size: 30px;
    padding-bottom: 25px;
    text-transform: uppercase;

    @media only screen and (min-width: 480px) {
        font-size: 35px;
    }

    @media only screen and (min-width: 767px) {
        font-size: 45px;
        padding-bottom: 35px;
    }

    @media only screen and (min-width: 1024px) {
        padding-bottom: 52px;
        font-size: 58px;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 66px; //72px;
    }
}

.all-events__box {
    display: grid;
    grid-auto-columns: minmax(270px, 280px);
    grid-auto-rows: 374px;
    row-gap: 45px;

    @media only screen and (min-width: 480px) {
        grid-template-columns: repeat(2, minmax(220px, 244px));
        grid-auto-rows: 321px;
        gap: 13px;
    }

    @media only screen and (min-width: 770px) {
        grid-template-columns: repeat(3, minmax(220px, 244px));
    }
    
    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(220px, 244px));
    }

    @media only screen and (min-width: 1280px) {
        grid-template-columns: repeat(5, minmax(241px, 262px));
        grid-auto-rows: 343px;
        grid-gap: 15px;
    }

    &__event--1 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/vrbas.jpg) center center / cover no-repeat;
    }

    &__event--1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/vrbas.jpg) center center / cover no-repeat;
        z-index: 0;
        transition: all .35s ease;
    }

    &__event--1:hover::before {
        transform: scale(1.09);
    }

    &__event--2 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-55.jpg) center center / cover no-repeat;
    }

    &__event--2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-55.jpg) center center / cover no-repeat;
        z-index: 0;
        transition: all .35s ease;
    }

    &__event--2:hover::before {
        transform: scale(1.09);
    }

    &__event--3 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-genesis.jpg) center center / cover no-repeat;
    }

    &__event--3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-genesis.jpg) center center / cover no-repeat;
        z-index: 0;
        transition: all .35s ease;
    }

    &__event--3:hover::before {
        transform: scale(1.09);
    }
}

//Selects All Events Containers
.all-events__box > div {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    backface-visibility: hidden;
}

//Selects All Anchor Elements Inside Events Boxes
.all-events__box > div > a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    color: $color-primary;
    padding: 0 10px 22px 22px;

}

//Selecting All Events Titles
.all-events__box > div > a > h4 {
    font-size: 21px;

    @media only screen and (min-width: 480px) {
        font-size: 21px;
    }

    @media only screen and (min-width: 770px) {
        font-size: 17px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 20px;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 23px;
    }
}

//Selecting All Events Dates
.all-events__box > div > a > p {
    font-family: $font-montserrat;
    color: $color-subtitle;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    z-index: $z-index-max;

    @media only screen and (min-width: 480px) {
        font-size: 13px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 14px;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 13px;
    }
}

.all-events__box > div > a > h4 {
    font-weight: 700;
    text-transform: uppercase;
    z-index: $z-index-max;
}
//All Events Section End//

//Featured Events Start//
.featured-events-section {
    background-color: $color-section-black;
}

.featured-events__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;
    overflow: hidden;

    @media only screen and (min-width: 770px) {
        padding: 80px 15px;
    }
}

.featured-events__title {
    color: $color-primary;
    font-size: 31px;
    padding-bottom: 25px;
    text-transform: uppercase;

    @media only screen and (min-width: 480px) {
        font-size: 35px;
        padding-bottom: 35px;
    }

    @media only screen and (min-width: 770px) {
        font-size: 37px;
        margin-right: 423px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 50px;
        padding-bottom: 52px;
        margin-right: 583px;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 53px; //72px;
        margin-right: 859px;
    }
}

//Selects All featured-Events Containers
.featured-events__box > div {
    position: relative;
    width: 280px;
    height: 374px;
    margin-bottom: 45px;
    cursor: pointer;
    overflow: hidden;
    backface-visibility: hidden;

    @media only screen and (min-width: 480px) {
        width: 309px;
        height: 409px;
    }

    @media only screen and (min-width: 610px) {
        width: 324px;
        height: 421px;
    }

    @media only screen and (min-width: 770px) {
        width: 216px;
        height: 289px;
    }

    @media only screen and (min-width: 1024px) {
        width: 301px;
        height: 402px;
    }

    @media only screen and (min-width: 1280px) {
        width: 400px;
        height: 533px;
    }
}

.featured-events__box > div:not(:last-child) {
    @media only screen and (min-width: 770px) {
        margin-right: 20px;
    }
}

//Selects All Anchor Elements Inside featured-Events Boxes
.featured-events__box > div > a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    color: $color-primary;
    padding: 0 10px 22px 22px;

}

.featured-events__box > div > a > p {
    font-family: $font-montserrat;
    color: $color-subtitle;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    z-index: $z-index-max;

    @media only screen and (min-width: 480px) {
        font-size: 14px;
    }

    @media only screen and (min-width: 770px) {
        font-size: 13px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 14px;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 14px;
    }
}

.featured-events__box > div > a > h4 {
    font-weight: 700;
    text-transform: uppercase;
    z-index: $z-index-max;
}

.featured-events__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 770px) {
        flex-direction: row;
    }

    &__event--1 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/vrbas.jpg) center center / cover no-repeat;
        
        &__name {
            font-size: 21px;

            @media only screen and (min-width: 480px) {
                font-size: 29px;
            }

            @media only screen and (min-width: 770px) {
                font-size: 19px;
            }
        
            @media only screen and (min-width: 1024px) {
                font-size: 25px;
            }
        
            @media only screen and (min-width: 1280px) {
                font-size: 31px;
            }
        }
    }

    &__event--1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/vrbas.jpg) center center / cover no-repeat;
        z-index: 0;
        transition: all .35s ease;
    }

    &__event--1:hover::before {
        transform: scale(1.09);
    }

    &__event--2 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-55.jpg) center center / cover no-repeat;
        
        &__name {
            font-size: 21px;

            @media only screen and (min-width: 480px) {
                font-size: 28px;
            }

            @media only screen and (min-width: 770px) {
                font-size: 17px;
            }
        
            @media only screen and (min-width: 1024px) {
                font-size: 24px;
            }
        
            @media only screen and (min-width: 1280px) {
                font-size: 28px;
            }
        }
    }

    &__event--2::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-55.jpg) center center / cover no-repeat;
        z-index: 0;
        transition: all .35s ease;
    }

    &__event--2:hover::before {
        transform: scale(1.09);
    }

    &__event--3 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-genesis.jpg) center center / cover no-repeat;
        
        &__name {
            font-size: 19px;

            @media only screen and (min-width: 480px) {
                font-size: 27px;
            }

            @media only screen and (min-width: 770px) {
                font-size: 17px;
            }
        
            @media only screen and (min-width: 1024px) {
                font-size: 20px;
            }
        
            @media only screen and (min-width: 1280px) {
                font-size: 27px;
            }
        }
    }

    &__event--3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/events-section/ksw-genesis.jpg) center center / cover no-repeat;
        z-index: 0;
        transition: all .35s ease;
    }

    &__event--3:hover::before {
        transform: scale(1.09);
    }
}
//Featured Events End//
