.contact-us__section {
    background-color: $color-section-white;
}

.contact-us__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;

    @media only screen and (min-width: 770px) {
        padding: 80px 15px;
    }
}

.contact-us__banjica {

    @media only screen and (min-width: 1280px) {
        margin-right: 300px;
    }

    &__map {
        width: 350px;
        height: 350px;
    }
}

.contact-us__borca {

    &__map {
        width: 350px;
        height: 350px;
    }
}