//Our Team Section Start//
.meet-our-team__section {
    background-color: $color-section-white;
}

.meet-our-team__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 15px;

    @media only screen and (min-width: 770px) {
        padding: 80px 15px;
    }
}

.meet-our-team__members {
    text-align: center;

        &__intro {
            justify-content: flex-start;

            &__title {
                color: $color-secondary;
                font-size: 34px;
                text-transform: uppercase;
                margin-bottom: 19px;
            }

            &__text {
                font-family: $font-montserrat;
                font-size: 14px;
                text-align: left;
            }
    }

    &__member--1 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/savo.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/savo.jpg) center center / cover no-repeat;
        }
    }

    &__member--2 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/vaso.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/vaso.jpg) center center / cover no-repeat;
        }
    }

    &__member--3 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/jankela.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/jankela.jpg) center center / cover no-repeat;
        }
    }

    &__member--4 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
    
        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
        }
    }

    &__member--5 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
    
        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
        }
    }

    &__member--6 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
    
        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
        }
    }

    &__member--7 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
        }
    }
}

//Selects All Hover Masks of Team Members
.meet-our-team__members > div > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 1.5s cubic-bezier(.19,1,.22,1);
}

.meet-our-team__members__member--1::before,
.meet-our-team__members__member--2::before,
.meet-our-team__members__member--3::before,
.meet-our-team__members__member--4::before, 
.meet-our-team__members__member--5::before, 
.meet-our-team__members__member--6::before, 
.meet-our-team__members__member--7::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    padding-top: 89%;

    @media only screen and (min-width: 480px) {
        padding-top: 0%;
    }
}

//Team Members hover mask
.meet-our-team__members__member--1::after,
.meet-our-team__members__member--2::after,
.meet-our-team__members__member--3::after,
.meet-our-team__members__member--4::after, 
.meet-our-team__members__member--5::after,
.meet-our-team__members__member--6::after,
.meet-our-team__members__member--7::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f0f0fbb;
    opacity: 0;
    transition: all .4s ease;
    z-index: 998;
}

.meet-our-team__members > div:hover:after {
    opacity: 1;
}

.meet-our-team__members > div:hover span {
    transform: scale(1.075);
    z-index: 997;
}

//Selects All Members Containers Except for Intro
.meet-our-team__members > div {
    max-width: 253px;
    position: relative;
    overflow: hidden;

    @media only screen and (min-width: 480px) {
        display: flex;
        flex-direction: column;
        width: 203px;
        height: 258px;
        max-width: 278px;
    }

    @media only screen and (min-width: 768px) {
        width: 325px;
        height: 429px;
        max-width: initial;
    }

    @media only screen and (min-width: 1024px) {
        width: 216px;
        height: 275px;
    }
  
    @media only screen and (min-width: 1280px) {
        width: 288px;
        height: 367px;
    }
}

//Added Same Selector So It Can Control Just Justify of The Elements
.meet-our-team__members > div:not(:first-child) {
    @media only screen and (min-width: 480px) {
        justify-content: flex-end;
    }
}

//Selects All Buttons Containers on Team Members Portraits
.meet-our-team__members div > div:nth-of-type(1) {
    position: absolute;
    bottom: 143px;
    left: 143px;
}

//Selects All Links Inside the Team Members Portraits
.meet-our-team__members > div > div > button > a {
    padding: 10px 20px;
}

//Selects All Team Member Names Except for Intro
.meet-our-team__members > div > h4:not(:first-child) {
    position: relative;
    color: $color-primary;
    font-size: 24px;
    margin-bottom: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    line-height: 26px;
    transition: all .35s .03s ease;
    backface-visibility: hidden;
    z-index: $z-index-max;

    @media only screen and (min-width: 480px) {
        line-height: 25px;
    }
}

//Selects All Team Members Role
.meet-our-team__members > div > h5 {
    position: relative;
    font-family: $font-montserrat;
    color: $color-subtitle;
    font-size: 13px;
    margin-bottom: 26px;
    padding: 0 20px;
    transition: all .35s .03s ease;
    backface-visibility: hidden;
    z-index: $z-index-max;

    @media only screen and (min-width: 480px) {
        margin-bottom: 19px;
    }

    @media only screen and (min-width: 768px) {
        margin-bottom: 26px;
    }
}

//Team Member Name & Role on hover (excludes the intro)
.meet-our-team__members > div:hover h4:not(:first-child),
.meet-our-team__members > div:hover h5 {
    transform: translateY(-51px);
}

//Team Member Socials Container on hover
.meet-our-team__members > div:hover div {
    opacity: 1;
    bottom: 25px;
}

//Team Members Socials Container
.meet-our-team__members > div > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: bottom .35s .07s ease-out, opacity .25s .04s ease;
    z-index: $z-index-max;
}

//Team Members Social Container
.meet-our-team__members > div > div > div {
    background-color: $color-primary;
    width: 38px;
    height: 36px;
    border-radius: 3px;
}

//Team Member Social Icons
.meet-our-team__members > div > div > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-secondary;
    background-color: $color-primary;
    line-height: .8;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

//Team Member Social Icons on hover
.meet-our-team__members > div > div > div > a:hover {
    color: $color-primary;
    background-color: $color-subtitle;
}

//Team Member Instagram Icon Container
.meet-our-team__members > div > div > div:first-child {
    margin-right: 10px;
}
//Our Team Section End//