//Our Team Section Start//
.meet-our-team__section {
    background-color: $color-section-white;
}

.meet-our-team__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 60px 15px;
    //padding: 60px 15px;

    @media only screen and (min-width: 480px) {
        padding: 60px 15px;
    }

    @media only screen and (min-width: 830px) {
        padding: 80px 15px;
    }
}

.meet-our-team__members {
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-rows: 310px;
    row-gap: 13px;
    text-align: center;
    opacity: 0;
    
    @media only screen and (max-width: 1023px) {
        opacity: 1;
    }

    @media only screen and (min-width: 480px) {
        grid-template-columns: repeat(2, 234px);
        grid-auto-rows: 288px;
        gap: 15px;
    }

    @media only screen and (min-width: 588px) {
        grid-template-columns: repeat(2, 261px);
        grid-auto-rows: 324px;
    }

    @media only screen and (min-width: 736px) {
        grid-template-columns: repeat(3, 234px);
        grid-auto-rows: 288px;
    }

    @media only screen and (min-width: 830px) {
        grid-template-columns: repeat(3, 261px);
        grid-auto-rows: 324px;
    }

    @media only screen and (min-width: 1015px) {
        grid-template-columns: repeat(4, 234px);
        grid-auto-rows: 288px;
    }

    @media only screen and (min-width: 1130px) {
        grid-template-columns: repeat(4, 261px);
        grid-auto-rows: 324px;
        gap: 17px;
    }

    @media only screen and (min-width: 1240px) {
        grid-template-columns: repeat(4, 288px);
        grid-auto-rows: 367px;
        gap: 25px;
    }

        &__intro {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media only screen and (min-width: 1130px) {
                text-align: start;
                padding: 0 15px;
            }

            &__title {
                color: $color-secondary;
                font-size: 30px;
                text-transform: uppercase;
                margin-bottom: 19px;

                @media only screen and (min-width: 480px) {
                    font-size: 27px;
                    margin-bottom: 18px;
                }

                @media only screen and (min-width: 588px) {
                    font-size: 29px;
                }

                @media only screen and (min-width: 736px) {
                    font-size: 27px;
                }

                @media only screen and (min-width: 830px) {
                    font-size: 29px;
                }

                @media only screen and (min-width: 1015px) {
                    font-size: 27px;
                }

                @media only screen and (min-width: 1130px) {
                    line-height: 1.04;
                    font-size: 39px;
                }

                @media only screen and (min-width: 1240px) {
                    font-size: 45px;
                    
                }
            }

            &__text {
                font-family: $font-montserrat;
                font-size: 14px;

                @media only screen and (min-width: 480px) {
                    font-size: 13px;
                }
            
                @media only screen and (min-width: 588px) {
                    font-size: 14px;
                }

                @media only screen and (min-width: 736px) {
                    font-size: 13px;
                }

                @media only screen and (min-width: 830px) {
                    font-size: 14px;
                }

                @media only screen and (min-width: 1015px) {
                    font-size: 13px;
                }

                @media only screen and (min-width: 1130px) {
                    font-size: 14px;
                }
            }
    }

    &__member--1 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/savo.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/savo.jpg) center center / cover no-repeat;
        }
    }

    &__member--2 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/vaso.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/vaso.jpg) center center / cover no-repeat;
        }
    }

    &__member--3 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/jankela.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/jankela.jpg) center center / cover no-repeat;
        }
    }

    &__member--4 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/our-team/igor.jpg) center center / cover no-repeat;
    
        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/our-team/igor.jpg) center center / cover no-repeat;
        }
    }

    &__member--5 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/our-team/nikola.jpg) center center / cover no-repeat;
    
        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/our-team/nikola.jpg) center center / cover no-repeat;
        }

        &__socials {
            @extend %our-team-socials;
        }
    }

    &__member--6 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
    
        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/landing-imgs/our-team/ilic.jpg) center center / cover no-repeat;
        }
    }

    &__member--7 {
        background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/our-team/dejan.jpg) center center / cover no-repeat;

        &__hover-mask {
            background: linear-gradient(to bottom, rgba(22, 18, 15, 0) 34%, rgba(22, 18, 15, 0) 47%, #000000 100%), url(/imgs/our-team/dejan.jpg) center center / cover no-repeat;
        }
    }
}

//Selects All Hover Masks of Team Members
.meet-our-team__members > div > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 1.5s cubic-bezier(.19,1,.22,1);
}

.meet-our-team__members__member--1::before,
.meet-our-team__members__member--2::before,
.meet-our-team__members__member--3::before,
.meet-our-team__members__member--4::before, 
.meet-our-team__members__member--5::before, 
.meet-our-team__members__member--6::before, 
.meet-our-team__members__member--7::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    padding-top: 89%;

    @media only screen and (min-width: 480px) {
        padding-top: 0%;
    }
}

//Team Members hover mask
.meet-our-team__members__member--1::after,
.meet-our-team__members__member--2::after,
.meet-our-team__members__member--3::after,
.meet-our-team__members__member--4::after, 
.meet-our-team__members__member--5::after,
.meet-our-team__members__member--6::after,
.meet-our-team__members__member--7::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f0f0fbb;
    opacity: 0;
    transition: all .4s ease;
    z-index: 998;
}

.meet-our-team__members > div:hover:after {
    opacity: 1;
}

.meet-our-team__members > div:hover span {
    transform: scale(1.075);
    z-index: 997;
}

//Selects All Members Containers Except for Intro
.meet-our-team__members > div {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

//Added Same Selector So It Can Control Just Justify of The Elements
.meet-our-team__members > div:not(:first-child) {
        justify-content: flex-end;
}

//Selects All Buttons Containers on Team Members Portraits
.meet-our-team__members > div > div.score {
    position: relative;
    opacity: 0;
    margin-top: -78px;
    margin-bottom: 22px;
    z-index: $z-index-max;
}

//Selects All Buttons Containers on Team Member Hover
.meet-our-team__members > div:hover div.score {
    opacity: 1;
    transform: translateY(-51px);
    transition: opacity .5s .06s ease;

}

//Selects All Links Inside the Team Members Portraits
.meet-our-team__members > div > div > button > a {
    padding: 10px 20px;
}

//Selects All Team Member Names Except for Intro
.meet-our-team__members > div > h4:not(:first-child) {
    position: relative;
    color: $color-primary;
    font-size: 24px;
    margin-bottom: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    line-height: 25px;
    transition: all .35s .03s ease;
    backface-visibility: hidden;
    z-index: $z-index-max;
}

//Selects All Team Members Role
.meet-our-team__members > div > h5 {
    position: relative;
    font-family: $font-montserrat;
    color: $color-subtitle;
    font-size: 13px;
    margin-bottom: 26px;
    padding: 0 20px;
    transition: all .35s .03s ease;
    backface-visibility: hidden;
    z-index: $z-index-max;

    @media only screen and (min-width: 768px) {
        margin-bottom: 26px;
    }
}

//Team Member Name & Role on hover (excludes the intro)
.meet-our-team__members > div:hover h4:not(:first-child),
.meet-our-team__members > div:hover h5 {
    transform: translateY(-51px);
}

//Team Member Score Container on hover
.meet-our-team__members > div:hover div:nth-child(2) {
    opacity: 1;
}

//Team Member Socials Container on hover
.meet-our-team__members > div:hover div:nth-child(5) {
    @extend %our-team-socials:hover;
}

//Team Member 5 (Nikola Zivkovic) Socials Container on hover
.meet-our-team__members__member--5:hover div {
    @extend %our-team-socials:hover;
}

//Team Members Socials Container
.meet-our-team__members > div > div:nth-child(5) {
    @extend %our-team-socials;
}

//Team Members Social Container
.meet-our-team__members > div > div > div {
    background-color: $color-primary;
    width: 38px;
    height: 36px;
}

//Team Member Social Icons
.meet-our-team__members > div > div > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-secondary;
    background-color: $color-primary;
    line-height: .8;
    width: 100%;
    height: 100%;
}

//Team Member Social Icons on hover
.meet-our-team__members > div > div > div > a:hover {
    color: $color-primary;
    background-color: $color-subtitle;
}

//Team Member Instagram Icon Container
.meet-our-team__members > div > div > div:first-child {
    margin-right: 10px;
}
//Our Team Section End//

//Special Offer Section Start//
.special-offer__section {
    background: url(/imgs/footer-imgs/background.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special-offer__container {
    padding: 60px 15px;
    max-width: 965px;
    text-align: center;
}

.special-offer__subtitle {
    color: $color-primary;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    opacity: 0;

    @media only screen and (max-width: 1023px) {
        opacity: 1;
    }

    @media only screen and (min-width: 860px) {
        font-size: 22px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 23px;
    }
}

.special-offer__text {
    color: $color-primary;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    opacity: 0;

    @media only screen and (max-width: 1023px) {
        opacity: 1;
    }

    @media only screen and (min-width: 480px) {
        font-size: 31px;
    }

    @media only screen and (min-width: 714px) {
        font-size: 38px;
    }

    @media only screen and (min-width: 860px) {
        font-size: 45px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 54px;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 55px;
    }
}

.special-offer__button {
    margin-top: 30px;
    opacity: 0;

    @media only screen and (max-width: 1023px) {
        opacity: 1;
    }
}

//Special Offer Section End//