//Z-index//
$z-index-max: 999;

//Font Variables//
$font-montserrat: "Montserrat", serif;
$font-poppins: "Poppins", sans-serif;
$font-rajdhani: "Rajdhani", sans-serif;
$font-timesNewRoman: "Times New Roman", Times, serif;
//Color Variables//
$color-transparent: transparent;
$color-primary: #f1ede1;
$color-secondary: #16120f;

//Navigation Top Bar Colors//
$color-navTop-background: #070707;
$color-navTop-icons: #fff;
$color-navTop-links: #fff;

//Navigation Colors//
$color-nav-border: rgba(255, 255, 255, 0.1);
$color-nav-shadow: rgba(0, 0, 0, 0.08);
$color-nav-background: #030303;
$color-nav-hamburger: #fff;
$color-nav-link: #fff;
$color-nav-link-sub: #fff;
$color-darken-background: rgba(0, 0, 0, 0.5);
$color-mobileNav-background: #fff;
$color-mobileNav-links: #1b1b1b;
$color-mobileNav-links-borderBottom: #1b1b1b15;
$color-mobileNav-icons: #1b1b1b;
$color-mobileNav-iconsText: #1b1b1b;
$color-mobileNav-button: #000;
$color-mobileNav-button--1: #fff;
$color-mobileNav-button--2: #fff;

//Section Colors//
$color-section-white: #f0f0f0;
$color-section-black: #0f0f0f;
$color-subtitle: #d62326;

//Footer Colors//
$color-footer-gray-text: #929292;
$color-footer-links: #929292;
$color-footer-line: #3b3632;
$color-footer-socials-border: #3b3632;
$color-footer-social-links-bg-hover: #d72323;
$color-footer-copyright-text: #929292;
$color-footer-copyright-link: #f1ede1;